target/
.env
.env.evm.deploy
.env.svm.deploy
.env.*
node_modules/
test-ledger/
.relayer/
.cursor/
.backup_*
relayer/**/.relayer
!.env.*.example
!.env.example
relayer/*.pid
relayer/logs
relayer/.*
relayer/easypanel-envs/
gateway/evm-gateway-service/gateway.log
broker/evm-gateway-service/gateway.log
*.log
test.json
user.json
faucet-keypair.json
